@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  
  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Font class declaration
  2. HTML5 Boilerplate Code
  3. Helper Classes
  4. Sunarj Technologies custom styles
    4.1. Common
    4.2. Header
    4.3. Section
    4.4. Footer
  5. Media Queries
  6. Print Styles
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, img, ins, kbd, q,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  vertical-align: baseline;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
    outline: ?????;
} */

/* 1.2. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then mention the font property in body. No need
 * of creating an extra class for it) */

/* This is just an example. You have to replace it with the font class you will be using for the project. */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
  2. HTML5 Boilerplate Code
  ========================================================================== */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea { color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video { vertical-align: middle; }

textarea { resize: vertical; }

.browsehappy {
  padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* ==========================================================================
   3. Helper classes
   ========================================================================== */

/* For image replacement. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  width: 0;
  height: 150%;
  display: block;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contain floats: h5bp.com/q */
.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }


/* ==========================================================================
   4. Sunarj Technologies custom styles
   ==========================================================================  */
/*
    Author: Sunarj Technologies;
    Company Website: http://www.sunarj.com;
*/

/*
  =======================================
  4.1. Common
  =======================================
*/

* { box-sizing: border-box; }

/* Prevent screen flickering when page is scrolled down */
html {
  /*-- Others ----*/
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;    
}

html,body,.container { width: 100%; }
.wrapper {
  /*-- Box Model -*/

 /* width: 75%;
  margin:0 auto;*/
  /*-- Display ---*/
  /*-- Position --*/
  /*-- Others ----*/
  }


/*
  =======================================
  4.2. Header
  =======================================
*/

  header {
  /*-- Box Model -*/
  background: #25184e;
  color: #fff;
  /*width:100%;*/
  /*border-top: 9px solid #000;*/

  /*-- Position --*/
  /*position: fixed;
  z-index: 10;
  top: 0;*/

  /*-- Others ----*/
  /*background: url(../images/header-bg.png)*/
  }

  h1 a {
    /*-- Box Model -*/
    /*width: 235px;
    height: 22px;*/

    /*-- Display ---*/
    display: inline-block;

    /*-- Others ----*/
    background: url(../images/logo_sunarj.png) no-repeat;
    /*text-indent: -9999px;*/
  }

  h1 {
    /*-- Box Model -*/
    /*margin: 49px 0 0 0;*/

    /*display*/
    display: inline-block;
  }

  h2 {
    /*-- Box Model -*/
    /*width: 235px;
    height: 22px;*/

    /*-- Display ---*/
    display: inline-block;

    /*-- Others ----*/
    font-size: 28px;
  }

/*
  =======================================
  4.3. Section
  =======================================
*/
section {
  background: #25184e;
  color: #fff;
}
.home-block {  
  border:2px solid #000;
  text-align: center;
}
.home-block p {
  padding: 5px;
  margin: 0;
}

.button-register {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid blue;
}

/*.note-add-form label{
  width: 150px;
}
.note-add-form input,
.note-add-form textarea {
  width: 200px;
}*/


/*
  =======================================
  4.4. Footer
  =======================================
*/
footer {
  padding: 10px;
  background: #402e79;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
   
/* ==========================================================================
   5. Media Queries
   ========================================================================== */
  @media screen and (max-width: 768px) {
    

  }


/* ==========================================================================
 6. Print styles
 ========================================================================== */

  @media print {
  * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
     text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

